/* Element Styles */

* {
  accent-color: var(--blue);
}

*::selection {
  background: var(--blue) !important;
  color: var(--white) !important;
}

html {
  font-size: 1em;
}

body {
  background: var(--lightGray);
}

header {
  z-index: 1;
  position: sticky;
  top: 0;
  background: var(--blue);
  width: 100%;
  padding: 2em;
  box-shadow: 1em 1em 10em .1em var(--black);
}

#nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
}

#navLinks {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 60%;
  padding-left: 0;
  align-items: center;
}

.navListItem {
  color: transparent;
  font-size: 1.5em;
  font-weight: bold;
}

.navLink {
  display: inline-block;
  position: relative;
  background: text linear-gradient(to right, var(--linkBlue) 0% 50%, var(--lightGray) 50% 100%) right / 200% 100%;
  color: inherit;
  transition: all .25s ease 0s;
}

.navLink:hover, .currentNavLink {
  background: text linear-gradient(to right, var(--linkBlue) 0% 50%, var(--lightGray) 50% 100%) left / 200% 100%;
}

.navLink:active {
  transform: rotate(-5deg);
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--linkBlue);
  height: .1em;
  transition: right .25s ease 0s;
}

.navLink:hover::after, .currentNavLink::after {
  right: 0;
}

footer {
  background: var(--blue);
  width: 100%;
  padding: 2em;
}

.footerText {
  color: var(--textBlue);
}

.footerHeading {
  margin-top: .5em;
  margin-bottom: .5em;
}

.footerBody {
  margin-top: .33em;
  margin-bottom: .33em;
}

#termsOfService, #copyright {
  width: 100%;
  text-align: center;
}

.footerListItem {
  margin-top: .25em;
  margin-bottom: .25em;
}

.footerListRoot {
  list-style: none;
}

.footerLink {
  color: inherit;
}

.footerLink:hover {
  text-decoration: underline;
}

.footerLink:active {
  color: var(--linkBlue);
}

/* Color Variables */

:root {
  --linkBlue: #789FDE;
  --textBlue: #1F0757;
}
