/* Element Styles */

* {
  accent-color: var(--blue);
}

*::selection {
  background: var(--blue) !important;
  color: var(--white) !important;
}

html {
  font-size: 1em;
}

body {
  background: var(--lightGray);
}

header {
  z-index: 1;
  position: sticky;
  top: 0;
  background: linear-gradient(175deg, #1B376F, 20%, var(--blue), 60%, #244994);
  width: 100%;
  padding: 2em;
  box-shadow: 1em 1em 10em .1em var(--black);
}

#nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
}

#navLinks {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 60%;
  padding-left: 0;
  align-items: center;
}

.navListItem {
  border-radius: .5em;
  background: linear-gradient(to right, rgba(31, 7, 87, .5), rgba(31, 7, 87, .5)) left / 0 100%;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .1em;
  padding-bottom: .25em;
  color: transparent;
  font-size: 1.5em;
  font-weight: bold;
  transition: background .25s ease 0s;
}

.navListItem:has(.navLink:hover) {
  background: linear-gradient(to right, rgba(31, 7, 87, .5), rgba(31, 7, 87, .5)) left / 100% 100%;
}

.navListItem:has(.navLink:active) {
  background: linear-gradient(to right, var(--textBlue), var(--textBlue)) left / 100% 100%;
}

.currentNav {
  background: var(--textBlue) !important;
}

.navLink {
  display: inline-block;
  position: relative;
  background: text linear-gradient(to right, var(--linkBlue) 0% 50%, var(--lightGray) 50% 100%) right / 200% 100%;
  color: inherit;
  transition: all .25s ease 0s;
}

.navLink:hover, .currentNavLink {
  background: text linear-gradient(to right, var(--linkBlue) 0% 50%, var(--lightGray) 50% 100%) left / 200% 100%;
}

.navLink:active {
  transform: rotate(-5deg);
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--linkBlue);
  height: .1em;
  transition: right .25s ease 0s;
}

.navLink:hover::after, .currentNavLink::after {
  right: 0;
}

main {
  height: 50vh;
}

footer {
  background: linear-gradient(175deg, #1B376F, 10%, var(--blue), 80%, #244994);
  width: 100%;
  padding: 2em;
}

#info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: flex-start;
}

.footerText {
  color: var(--textBlue);
}

.footerHeading {
  margin-top: .5em;
  margin-bottom: .5em;
}

.footerBody, .footerListItemRoot {
  margin-top: .33em;
  margin-bottom: .33em;
}

#termsOfService, #copyright {
  width: 100%;
  text-align: center;
}

.footerListItemNested {
  list-style: none;
  margin-top: .25em;
  margin-bottom: .25em;
}

.footerListItemNested::marker {
  content: "-\00a0";
}

#sitemapLists {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footerListRoot {
  list-style: none;
}

.footerLink {
  border-radius: .5em;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .1em;
  padding-bottom: .25em;
  color: inherit;
}

.footerLink:hover {
  background: rgba(31, 7, 87, .5);
  color: var(--linkBlue);
  text-decoration: underline;
}

.footerLink:active {
  background: var(--textBlue);
}

.currentFooterLink {
  background: var(--textBlue);
  color: var(--linkBlue);
  text-decoration: underline;
}

#addressFooterAddress {
  display: inline;
}

/* Animation Effects */

@keyframes changePage {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* Color Variables */

:root {
  --linkBlue: #789FDE;
  --textBlue: #1F0757;
}
