/* Element Styles */

* {
  accent-color: var(--blue);
}

*::selection {
  background: var(--blue) !important;
  color: var(--white) !important;
}

html {
  font-size: 1em;
}

body {
  background: var(--lightGray);
}

header {
  z-index: 1;
  position: sticky;
  top: 0;
  background: linear-gradient(175deg, #1B376F, 20%, var(--blue), 60%, #244994);
  width: 100%;
  padding: 2em;
  box-shadow: 1em 1em 10em .1em var(--black);
}

#nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
}

#navLinks {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 60%;
  padding-left: 0;
  align-items: center;
}

.navListItem {
  border-radius: .5em;
  background: linear-gradient(to right, rgba(31, 7, 87, .5), rgba(31, 7, 87, .5)) left / 0 100%;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .1em;
  padding-bottom: .25em;
  color: transparent;
  font-size: 1.5em;
  font-weight: bold;
  transition: all .25s ease 0s;
}

.navListItem:has(.navLink:hover) {
  background: linear-gradient(to right, rgba(31, 7, 87, .5), rgba(31, 7, 87, .5)) left / 100% 100%;
}

.navListItem:has(.navLink:active) {
  background: linear-gradient(to right, var(--textBlue), var(--textBlue)) left / 100% 100%;
  transform: rotate(-5deg);
}

.currentNavListItem {
  background: var(--textBlue) !important;
}

.navLink {
  display: inline-block;
  position: relative;
  background: text linear-gradient(to right, var(--linkBlue) 0% 50%, var(--lightGray) 50% 100%) right / 200% 100%;
  color: inherit;
  transition: all .25s ease 0s;
}

.navLink:hover, .currentNavLink {
  background: text linear-gradient(to right, var(--linkBlue) 0% 50%, var(--lightGray) 50% 100%) left / 200% 100%;
}

.navLink:active {
  transform: rotate(-5deg);
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--linkBlue);
  height: .1em;
  transition: right .25s ease 0s;
}

.navLink:hover::after,
.currentNavLink::after {
  right: 0;
}

#profileCont {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#profile {
  border-radius: 1em;
  background-clip: padding-box,
                   border-box;
  background-image: linear-gradient(to right, var(--white), var(--white)),
                    linear-gradient(175deg, #1B376F, var(--blue), #244994);
  background-origin: border-box;
  width: 60%;
  padding: 2em;
  border: .5em solid transparent;
  margin-top: 5em;
  margin-bottom: 5em;
  box-shadow: 1em 1em 10em .1em var(--black);
}

#introCont {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
  align-items: flex-start;
}

#picCont {
  width: 40%;
}

#pic {
  border-radius: .5em;
  background-clip: content-box,
                   border-box;
  background-image: url(img/profile.png),
                    linear-gradient(175deg, #1B376F, var(--blue), #244994);
  background-origin: border-box;
  background-position: center;
  background-size: cover;
  height: 20em;
  width: 100%;
  border: .25em solid transparent;
  margin-bottom: .25em;
}

#picCaption {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  font-size: .9em;
}

#intro {
  width: 40%;
}

#introHeading {
  margin-top: .5em;
  margin-bottom: .5em;
}

#introText {
  margin-left: 1em;
  font-size: 1.1em;
}

#contactMeProfile {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}

.contactMeProfileListItem {
  background: text var(--blue);
  color: transparent;
  font-size: 3em;
  font-weight: bold;
}

.contactMeProfileLink {
  background: text linear-gradient(60deg, var(--blue) 0% 40%, var(--shimmerWhite) 47.5% 52.5%, var(--blue) 60% 100%) -2em;
  color: inherit;
}

.contactMeProfileLink:hover {
  background: text linear-gradient(60deg, var(--blue) 0% 40%, var(--shimmerWhite) 47.5% 52.5%, var(--blue) 60% 100%) 2em;
  transition: background 2s ease 0s;
}

footer {
  background: linear-gradient(175deg, #1B376F, 10%, var(--blue), 80%, #244994);
  width: 100%;
  padding: 2em;
}

#info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: flex-start;
}

.footerText {
  color: var(--textBlue);
}

.footerHeading {
  margin-top: .5em;
  margin-bottom: .5em;
}

.footerBody,
.footerListItemRoot {
  margin-top: .33em;
  margin-bottom: .33em;
}

#termsOfService,
#copyright {
  width: 100%;
  text-align: center;
}

.footerListItemNested {
  list-style: none;
  margin-top: .25em;
  margin-bottom: .25em;
}

.footerListItemNested::marker {
  content: "-\00a0";
}

#sitemapLists {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footerListRoot {
  list-style: none;
}

.footerLink {
  border-radius: .5em;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .1em;
  padding-bottom: .25em;
  color: inherit;
}

.footerLink:hover {
  background: rgba(31, 7, 87, .5);
  color: var(--linkBlue);
  text-decoration: underline;
}

.footerLink:active {
  background: var(--textBlue);
}

.currentSitemapLink {
  background: var(--textBlue);
  color: var(--linkBlue);
  text-decoration: underline;
}

#addressFooterAddress {
  display: inline;
}

/* Animation Effects */

@keyframes changePage {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* Color Variables */

:root {
  --linkBlue: #789FDE;
  --textBlue: #1F0757;
  --shimmerWhite: #F5F5FF;
}
